.dot {
  background-color: gainsboro;
  width: 20px;
  height: 20px;
  font-weight: bold;
  cursor: pointer;
  border: solid 1px black;
}

.dot-1 {
  color: deepskyblue;
}

.dot-2 {
  color: lawngreen;
}

.dot-3 {
  color: burlywood;
}

.dot-4 {
  color: mediumpurple;
}

.dot-5 {
  color: darkcyan;
}

.dot-6 {
  color: firebrick;
}

.dot-7 {
  color: lavender;
}

.dot-8 {
  color: fuchsia;
}
